<html>
 <head>
   <link rel="stylesheet" type="text/css" href="../static/css/hospital.css">
   <title>Hospital</title>
 </head>
  <body>
    <header id="header">
      <a href="/"><input type="button" class="button" value="Home"></a>
    </header> 
   <form method="POST" action="/revHospital"> 	 
  <div id=intro>
   <p>  
    Hospital review
   </p>
   <select class="drop" name="hname">
    <option value="none">Select Hospital</option>
    {% for value in orgnames %}
    <option value="{{value}}" >
      {{value}}
    </option>
    {% endfor %}
  </select>  
  </div>
  <select class="drop2" name="dname">
    <option value="none">Select department </option>
    <option value="ortho">Orthopedics</option>
    <option value="gyna">Obstetrics and gynaecology</option>
    <option value="neuro">Neurology</option>
    <option value="cardi">Cardiology</option></select>
  </div>
  <input type="submit" value="submit" id="btn">
  </form>
  {% for i in range(size) %}
  <div id="rev" style="position:relative; top: 100px; left: 130px; margin-top: 30px;">
  <div style="font-size: 27px; font:bold ; left: 2px;font: 'Candice'; ">  
   {{ datalist[0] }}{{ data[i][0] }}
  </div>
  <br>
  <div style="font-size:18px;font: 'Candice';">

    {% for j in range(1,cols-1) %}
    {{ datalist[j] }}{{ data[i][j] }}
    <br>
    {% endfor %}
  </div>
  <br>
  <div style="font-size: 21px; font-family: Arial, Helvetica, sans-serif;">
    {{ datalist[cols-1] }}
    {{ data[i][cols-1] }}
  </div>
  </div>
  {% endfor %}
  </body>
  </html>